# Week 3 Assignment: Census Data Exploration

Examining Los Angeles Chinatown - Income

Author: Brian Kohaya

Description: This notebook will look at income in Chinatown, Los Angeles and the immediate surrounding areas (Echo Park, Lincoln Heights, and Elysian Park)

In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np

In [5]:
income = pd.read_csv('LACountyIncome.csv')

In [7]:
income.shape

(2495, 8)

In [9]:
income.head()

,tract,income_percap,sup_dist,csa,spa,ESRI_OID,Shape__Area,Shape__Length
0,6037199900,17982.0,District 1,Los Angeles - Lincoln Heights,SPA 4 - Metro,2347,4.782361e+06,10141.728022
1,6037199700,26586.0,District 1,Los Angeles - Wholesale District,SPA 4 - Metro,2348,1.041050e+07,13808.463241
2,6037199801,16111.0,District 1,Los Angeles - Lincoln Heights,SPA 4 - Metro,2349,3.724107e+06,9459.391827
3,6037199802,16180.0,District 1,Los Angeles - Lincoln Heights,SPA 4 - Metro,2350,3.296129e+06,8868.744225
4,6037201110,32367.0,District 1,Los Angeles - El Sereno,SPA 4 - Metro,2351,1.099246e+07,15893.383636